.card
  .card-block
    = [(params[:tag_name] ? "Searched with Tag: [#{params[:tag_name]}]" : nil), (params[:context] ? "Context: [#{params[:context]}]" : nil)].compact.join(' ')
    = search_form_for q do |f|
      .row
        .col-sm-12
          = f.label :title_cont, 'Title'
          = f.search_field :title_cont
      .row
        .col-sm-2
          = f.label :author_id_eq, 'Author'
        .col-sm-10
          = f.select :author_id_eq, authors.map{|a| ["#{a.name} (#{a.books.size})", a.id]}, {include_blank: true}, class: 'form-control'
      .row
        .col-sm-2
          = f.label :date_range, 'Date'
        .col-sm-3
          = f.search_field :date_gteq, class: 'form-control datepicker'
        .col-sm-3.end
          = f.search_field :date_lteq, class: 'form-control datepicker'
      .row
        .col-sm-12
          = radio_button_tag :tag_sample, 'all', (params[:tag_sample].blank? || params[:tag_sample] == 'all')
          = label_tag :tag_sample_all, '全て'
          = radio_button_tag :tag_sample, 'exclude', params[:tag_sample] == 'exclude'
          = label_tag :tag_sample_exclude, 'サンプル以外'
          = radio_button_tag :tag_sample, 'include', params[:tag_sample] == 'include'
          = label_tag :tag_sample_include, 'サンプルのみ'
      .row
        .col-sm-12
          = radio_button_tag :read_flag, 'all', (params[:read_flag].blank? || params[:read_flag] == 'all')
          = label_tag :read_flag_all, 'All'
          = radio_button_tag :read_flag, 'exclude', params[:read_flag] == 'exclude'
          = label_tag :read_flag_exclude, 'UnRead only'
          = radio_button_tag :read_flag, 'include', params[:read_flag] == 'include'
          = label_tag :read_flag_include, 'Read only'
      .row
        .col-sm-12
          = f.submit 'Search', class: 'btn btn-secondary'
