.row
  .col-md-12
    %h1 Books
    .row
      .col
        .card
          .card-block
            .row
              .col-sm-4
                .row
                  .progress.col-sm-10.offset-sm-1.end
                    .progress-bar#stream_progress{style: "width: 0%;"} 0%
                %span#current_books_count 0
                %span#total_books_count{data: {count: @total_books_count}}= " / #{@total_books_count} Books found"
                .form-group
                  %label.sr-only{:for => "searchbox"} Search
                  %input#searchbox.form-control{:placeholder => "Search …", :type => "text"}/
                  %span.glyphicon.glyphicon-search.search-icon
                .form-group
                  = select_tag :author, options_for_select([['Author', 'all']] + @authors.map{|a| [a.name, a.id] }, params[:author_id]), class: 'form-control'
              .col-sm-4
                %h5 Filter by Read
                #read_status.form-check
                  %label.form-check-label
                    %input#read.form-check-input{:type => "checkbox", :value => "Y"}
                    Read (Y)
                  %label.form-check-label
                    %input#unread.form-check-input{:type => "checkbox", :value => "N"}
                    Unread (N)
                %h5 Filter by Tag
                #tag.form-check
                  - @tags.each_with_index do |tag,i|
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => tag, :id => "tag#{i+1}"}
                      = tag
              #tag_list.col-sm-4.end
                %h5 Filter by Tag list
                - @tag_list.each do |tag|
                  .form-check{id: "tag_list#{tag.id}", style: 'margin-bottom: 0;'}
                    = label_tag "tag_list_label#{tag.id}", tag.name, style: 'margin-bottom: 0;'
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => 'Y'} Y
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => "N"} N

    = form_tag update_selected_books_path, method: :put do
      .row
        .col
          .card
            .card-block
              = label_tag :mark_as, 'Mark as'
              = submit_tag 'Read', formaction: update_selected_books_path(type: :read_true), class: 'btn btn-primary'
              = submit_tag 'Unread', formaction: update_selected_books_path(type: :read_false), class: 'btn btn-primary'
      .row
        .col
          = render 'book_row'
          %table#books.table.table-striped.table-hover.table-sm
            %thead
              %tr
                %th= check_box_tag "select_all", nil, false, class: 'select_all'
                %th Title
                %th Author
                %th Asin
                %th Tag
                %th Date
                %th Collection Count
                %th Read
                %th Guessed Tags
                %th Tags
            %tbody#books-body
