.row
  .col-md-12
    %h1 Books
    = paginate @books
    %table.table.table-striped.table-hover.table-sm
      %thead
        %tr
          %th Title
          %th Author
          %th Asin
          %th Tag
          %th Date
          %th Collection Count
      %tbody
        - @books.each do |book|
          %tr
            %td= book.title
            %td= book.raw_author
            %td= book.asin
            %td= book.tag
            %td= book.date
            %td= book.collection_count
    = render 'filter'
    = render 'author_links', authors: @authors, books_count: (params[:books_count].presence || 1)
