.row
  .col-md-12
    %h1 Books
    = paginate @books
    = form_tag mark_as_read_books_path, method: :put do
      = submit_tag 'Mark selected books as read'
      %table.table.table-striped.table-hover.table-sm
        %thead
          %tr
            %th= check_box_tag "select_all", nil, false, class: 'select_all'
            %th Title
            %th Author
            %th Asin
            %th Tag
            %th Date
            %th Collection Count
            %th Read
            %th Guessed Tags
        %tbody
          - @books.each do |book|
            %tr
              %td= check_box_tag "book_ids[]", book.id, book.read, class: 'book_check', id: "book_ids_#{book.id}"
              %td= book.title
              %td= book.raw_author
              %td= book.asin
              %td= book.tag
              %td= book.date
              %td= book.collection_count
              %td= book.read ? 'Y' : ''
              %td= book.guessed_tag_list
