.row
  .col-md-12
    %h1 Tags
    .row
      .columns.col-sm-4
        = render 'search_form', q: @q, tags: @tags
    .row
      .col
        = paginate @tags
    .row
      .columns.col-sm-12.end
        %table.table.table-striped.table-hover.table-sm
          %thead
            %tr
              %th ID
              %th= sort_link(@q, :name, 'Name')
              %th= sort_link(@q, :taggings_count, 'Count')
          %tbody
            - @tags.each do |tag|
              %tr
                %td= tag.id
                %td= highlight(tag.name, @q.name_cont)
                %td= tag.taggings_count
