.row
  .col-md-12
    %h1 Tags
    .row
      .col-sm-4.end
        = render 'search_form', q: @q
    .row
      .col
        = page_entries_info @tags
        = paginate @tags
    = form_tag apply_to_books_tags_path, method: :put do
      .row
        .col
          .card
            .card-block
              = text_field_tag :new_tag
              = submit_tag 'Apply tag to books of selected guessed tags', class: 'btn btn-primary'
      .row
        .col
          %table.table.table-striped.table-hover.table-sm
            %thead
              %tr
                %th= check_box_tag "select_all", nil, false, class: 'select_all'
                %th= sort_link(@q, :name, 'Name')
                %th= sort_link(@q, :taggings_count, 'Count')
                %th Context
            %tbody
              - @tags.each do |tag|
                %tr
                  %td= check_box_tag "tag_ids[]", tag.id, nil, class: 'tag_check', id: "tag_ids_#{tag.id}"
                  %td= highlight(tag.name, @q.name_cont)
                  %td= tag.taggings_count
                  %td
                    - tag.taggings.to_a.uniq{|t| t.context }.each do |t|
                      = link_to t.context, books_path(context: t.context, tag_name: tag.name)
